In [24]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import timedelta
import numpy as np

In [14]:
day = dt.today() - timedelta(days=1)
dirname = os.getcwd()
filename = '完成データ/' + '先物' + str(day.year) +"-"+ str(day.month) +"-"+ str(day.day) + ".xlsx"
SAVED_DATA = os.path.join(dirname, filename)
df = pd.read_excel(SAVED_DATA, header=1)

In [15]:
df.head()

,売り買い,売り,買い,差引,売り.1,買い.1,差引.1,売り.2,買い.2,差引.2
0,取引参加者,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BofA証券,1691.0,944.0,-747.0,NaN,NaN,NaN,1691.0,944.0,-747.0
2,みずほ証券,2003.0,496.0,-1507.0,NaN,NaN,NaN,2003.0,496.0,-1507.0
3,クレディ・スイス証券,792.0,595.0,-197.0,NaN,NaN,NaN,792.0,595.0,-197.0
4,ゴールドマンサックス,3515.0,1786.0,-1729.0,NaN,NaN,NaN,3515.0,1786.0,-1729.0

In [16]:
data_url = 'https://raw.githubusercontent.com/plotly/datasets/master/2014_usa_states.csv'
df_url = pd.read_csv(data_url)
df_url.head()

   Rank       State Postal  Population
0     1     Alabama     AL   4849377.0
1     2      Alaska     AK    736732.0
2     3     Arizona     AZ   6731484.0
3     4    Arkansas     AR   2966369.0
4     5  California     CA  38802500.0

In [17]:
[{"name": i, "id": i}  for i in df_url.columns]

[{'name': 'Rank', 'id': 'Rank'},
 {'name': 'State', 'id': 'State'},
 {'name': 'Postal', 'id': 'Postal'},
 {'name': 'Population', 'id': 'Population'}]

In [26]:
arr=df[df["売り買い"]=="BofA証券"].values
np.delete(arr, 0)

AttributeError: 'numpy.ndarray' object has no attribute 'delete'

In [ ]:
x = ["第１限月　売り", "第１限月　買い", "第２限月　売り", "第２限月　買い", "第３限月　売り", "第３限月　買い",]
needed_list = [{'x': x, 'y': np.delete(df[df["売り買い"]==i].values, 0), 'type': 'bar', 'name': i} for i in df["売り買い"].unique()]

In [30]:
df[(df["売り買い"] != "総合計")&(df["売り買い"] != "取引参加者")]

,売り買い,売り,買い,差引,売り.1,買い.1,差引.1,売り.2,買い.2,差引.2
1,BofA証券,1691.0,944.0,-747.0,NaN,NaN,NaN,1691.0,944.0,-747.0
2,みずほ証券,2003.0,496.0,-1507.0,NaN,NaN,NaN,2003.0,496.0,-1507.0
3,クレディ・スイス証券,792.0,595.0,-197.0,NaN,NaN,NaN,792.0,595.0,-197.0
4,ゴールドマンサックス,3515.0,1786.0,-1729.0,NaN,NaN,NaN,3515.0,1786.0,-1729.0
5,シティグループ証券,2495.0,NaN,NaN,NaN,NaN,NaN,2495.0,0.0,0.0
6,ソシエテ・ジェネラル,11826.0,13615.0,1789.0,103.0,73.0,-30.0,11929.0,13688.0,1759.0
7,ドイツ証券,193.0,NaN,NaN,NaN,NaN,NaN,193.0,0.0,0.0
8,バークレイズ証券,530.0,825.0,295.0,NaN,NaN,NaN,530.0,825.0,295.0
9,マネックス証券,46.0,226.0,180.0,4.0,13.0,9.0,50.0,239.0,189.0
10,モルガンスタンレー,1463.0,1523.0,60.0,NaN,NaN,NaN,1463.0,1523.0,60.0
11,三菱ＵＦＪモルガン,NaN,770.0,NaN,NaN,NaN,NaN,0.0,770.0,0.0
12,光世証券,NaN,NaN,NaN,1.0,NaN,NaN,1.0,0.0,0.0
13,大和証券,284.0,NaN,NaN,NaN,NaN,NaN,284.0,0.0,0.0
14,岡三証券,NaN,NaN,NaN,2.0,2.0,0.0,2.0,2.0,0.0
15,岩井コスモ証券,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,0.0
16,日産証券,570.0,855.0,285.0,9.0,2.0,-7.0,579.0,857.0,278.0
17,松井証券,553.0,746.0,193.0,23.0,5.0,-18.0,576.0,751.0,175.0
18,楽天証券,733.0,820.0,87.0,4.0,9.0,5.0,737.0,829.0,92.0
19,野村證券,2572.0,3388.0,816.0,NaN,NaN,NaN,2572.0,3388.0,816.0
20,ＡＢＮアムロクリア,17512.0,18388.0,876.0,30.0,356.0,326.0,17542.0,18744.0,1202.0
21,ＢＮＰパリバ証券,300.0,297.0,-3.0,NaN,NaN,NaN,300.0,297.0,-3.0
22,ＧＭＯクリック証券,34.0,203.0,169.0,2.0,2.0,0.0,36.0,205.0,169.0
23,ＪＰモルガン証券,2115.0,1222.0,-893.0,NaN,NaN,NaN,2115.0,1222.0,-893.0
24,ＳＢＩネオトレード,NaN,NaN,NaN,3.0,3.0,0.0,3.0,3.0,0.0
25,ＳＢＩ証券,2123.0,3049.0,926.0,6.0,9.0,3.0,2129.0,3058.0,929.0
26,ＳＭＢＣ日興証券,312.0,NaN,NaN,NaN,1.0,NaN,312.0,1.0,0.0
27,ＵＢＳ証券,NaN,796.0,NaN,NaN,NaN,NaN,0.0,796.0,0.0
28,ａｕカブコム証券,267.0,327.0,60.0,9.0,12.0,3.0,276.0,339.0,63.0