In [1]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import timedelta
import numpy as np
import boto3
from io import StringIO
from to_csv_on_s3 import to_csv_on_s3

In [21]:
client = boto3.client('s3')
BUCKET_NAME = 'jpx-future-bucket'
FOLDER_RAW = "raw_data/"
FOLDER_FINAL = "final_data/"
PATH_GROUP = 's3://' + BUCKET_NAME + '/groups.xlsx'
HISTORICAL_GROUP = 's3://' + BUCKET_NAME + '/' + FOLDER_FINAL + 'historical_by_group.csv'
HISTORICAL_GROU_PRODUCT = 's3://' + BUCKET_NAME + '/' + FOLDER_FINAL + 'historical_by_group_product.csv'
historical_by_group = pd.read_csv(HISTORICAL_GROUP)
historical_by_group_product = pd.read_csv(HISTORICAL_GROU_PRODUCT)

In [19]:
historical_by_group_product = historical_by_group_product[["product", "group", "date", "buy", "sell", "diff"]]
historical_by_group_product = historical_by_group_product.sort_values(["product", "group", "date"])
historical_by_group_product

       product  group        date      buy     sell    diff
60  Nikkei sum      1  2021-01-25   5080.8   5120.1   -39.3
0   Nikkei sum      1  2021-01-28   6156.8  12130.2 -6413.4
20  Nikkei sum      1  2021-01-28   6156.8  12130.2 -6413.4
40  Nikkei sum      1  2021-01-28   6156.8  12130.2 -6413.4
65  Nikkei sum      2  2021-01-25  42894.6  44846.2 -1781.0
5   Nikkei sum      2  2021-01-28  94167.8  89890.0  3039.8
25  Nikkei sum      2  2021-01-28  94167.8  89890.0  3039.8
45  Nikkei sum      2  2021-01-28  94167.8  89890.0  3039.8
70  Nikkei sum      3  2021-01-25   5388.5   3609.4  1468.1
10  Nikkei sum      3  2021-01-28   6298.9   8460.2 -3032.2
30  Nikkei sum      3  2021-01-28   6298.9   8460.2 -3032.2
50  Nikkei sum      3  2021-01-28   6298.9   8460.2 -3032.2
75  Nikkei sum      4  2021-01-25  13696.4  14488.4  -895.2
15  Nikkei sum      4  2021-01-28  26359.3  25423.6  1704.5
35  Nikkei sum      4  2021-01-28  26359.3  25423.6  1704.5
55  Nikkei sum      4  2021-01-28  26359.3  25423.6  1704.5
61       TOPIX      1  2021-01-25   5651.0   4142.0  1509.0
1        TOPIX      1  2021-01-28   7802.0  10482.0 -2680.0
21       TOPIX      1  2021-01-28   7802.0  10482.0 -2680.0
41       TOPIX      1  2021-01-28   7802.0  10482.0 -2680.0
66       TOPIX      2  2021-01-25  22801.0  21866.0   402.0
6        TOPIX      2  2021-01-28  47550.0  47468.0    82.0
26       TOPIX      2  2021-01-28  47550.0  47468.0    82.0
46       TOPIX      2  2021-01-28  47550.0  47468.0    82.0
71       TOPIX      3  2021-01-25   2862.0   5278.0 -2416.0
11       TOPIX      3  2021-01-28   8192.0   6888.0  1304.0
31       TOPIX      3  2021-01-28   8192.0   6888.0  1304.0
51       TOPIX      3  2021-01-28   8192.0   6888.0  1304.0
76       TOPIX      4  2021-01-25    464.0    481.0   -17.0
16       TOPIX      4  2021-01-28    952.0    973.0   -21.0
..         ...    ...         ...      ...      ...     ...
23   日経225（ミニ）      1  2021-01-28   1382.8   1217.2   165.6
43   日経225（ミニ）      1  2021-01-28   1382.8   1217.2   165.6
68   日経225（ミニ）      2  2021-01-25  23787.6  23035.2  1097.0
8    日経225（ミニ）      2  2021-01-28  48937.8  50326.0 -1388.2
28   日経225（ミニ）      2  2021-01-28  48937.8  50326.0 -1388.2
48   日経225（ミニ）      2  2021-01-28  48937.8  50326.0 -1388.2
73   日経225（ミニ）      3  2021-01-25    638.5    626.4    13.1
13   日経225（ミニ）      3  2021-01-28    978.9    928.2  -220.2
33   日経225（ミニ）      3  2021-01-28    978.9    928.2  -220.2
53   日経225（ミニ）      3  2021-01-28    978.9    928.2  -220.2
78   日経225（ミニ）      4  2021-01-25  10587.4  10846.4  -362.2
18   日経225（ミニ）      4  2021-01-28  17696.3  17454.6   584.5
38   日経225（ミニ）      4  2021-01-28  17696.3  17454.6   584.5
58   日経225（ミニ）      4  2021-01-28  17696.3  17454.6   584.5
64  日経225（ラージ）      1  2021-01-25   4449.0   4184.0   265.0
4   日経225（ラージ）      1  2021-01-28   4774.0  10913.0 -6579.0
24  日経225（ラージ）      1  2021-01-28   4774.0  10913.0 -6579.0
44  日経225（ラージ）      1  2021-01-28   4774.0  10913.0 -6579.0
69  日経225（ラージ）      2  2021-01-25  19107.0  21811.0 -2878.0
9   日経225（ラージ）      2  2021-01-28  45230.0  39564.0  4428.0
29  日経225（ラージ）      2  2021-01-28  45230.0  39564.0  4428.0
49  日経225（ラージ）      2  2021-01-28  45230.0  39564.0  4428.0
74  日経225（ラージ）      3  2021-01-25   4750.0   2983.0  1455.0
14  日経225（ラージ）      3  2021-01-28   5320.0   7532.0 -2812.0
34  日経225（ラージ）      3  2021-01-28   5320.0   7532.0 -2812.0
54  日経225（ラージ）      3  2021-01-28   5320.0   7532.0 -2812.0
79  日経225（ラージ）      4  2021-01-25   3109.0   3642.0  -533.0
19  日経225（ラージ）      4  2021-01-28   8663.0   7969.0  1120.0
39  日経225（ラージ）      4  2021-01-28   8663.0   7969.0  1120.0
59  日経225（ラージ）      4  2021-01-28   8663.0   7969.0  1120.0

[80 rows x 6 columns]

In [9]:
historical_by_group.sort_values(["group", "date"])

          date  group       buy      sell     diff
12  2021-01-25      1   26544.4   23644.3   2900.1
0   2021-01-28      1   34074.4   57354.6 -24600.2
4   2021-01-28      1   34074.4   57354.6 -24600.2
8   2021-01-28      1   34074.4   57354.6 -24600.2
13  2021-01-25      2  174285.8  178270.6  -4539.0
1   2021-01-28      2  377603.4  364606.0   9283.4
5   2021-01-28      2  377603.4  364606.0   9283.4
9   2021-01-28      2  377603.4  364606.0   9283.4
14  2021-01-25      3   21889.5   21384.2   -427.7
2   2021-01-28      3   35280.7   39156.6  -6488.6
6   2021-01-28      3   35280.7   39156.6  -6488.6
10  2021-01-28      3   35280.7   39156.6  -6488.6
15  2021-01-25      4   42017.2   44427.2  -2719.6
3   2021-01-28      4   80981.9   78216.8   5071.5
7   2021-01-28      4   80981.9   78216.8   5071.5
11  2021-01-28      4   80981.9   78216.8   5071.5

In [4]:
historical_by_group = historical_by_group[["date", "group", "buy", "sell", "diff"]]

In [5]:
filename = FOLDER_FINAL + "historical_by_group.csv"
to_csv_on_s3(historical_by_group, bucketName=BUCKET_NAME, fileName=filename)

In [20]:
filename = FOLDER_FINAL + "historical_by_group_product.csv"
to_csv_on_s3(historical_by_group_product, bucketName=BUCKET_NAME, fileName=filename)

In [2]:
df = pd.DataFrame({"a":[1, 2, 3], "b":[4, 5, 6]})

In [3]:
df_cred = pd.read_csv("/Users/mmiyazaki/Documents/AWS/access keys/rootkey.csv")
df_cred.values

array([['AWSSecretKey=EufkhN6s6JeUiJdvYSDtheVxaof5lH0asQvA5VlQ']],
      dtype=object)

In [4]:
filename = "raw_data/test.csv"
bucketName = "jpx-future-bucket"

In [12]:
csv_buffer = StringIO()
df.to_csv(csv_buffer)
client = boto3.client('s3')
response = client.put_object(
    ACL = 'private',
    Body = csv_buffer.getvalue(),
    Bucket=bucketName,
    Key=filename
)

In [8]:
response

{'ResponseMetadata': {'RequestId': '03D884B9026EA44F',
  'HostId': 'pMT5f9BV7pWpnljEbXi+DogMcfLDMoNM8quj+gOM4ODwsDVovjHyXkwRW0pEhgOtsvYZB6pO9r8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'pMT5f9BV7pWpnljEbXi+DogMcfLDMoNM8quj+gOM4ODwsDVovjHyXkwRW0pEhgOtsvYZB6pO9r8=',
   'x-amz-request-id': '03D884B9026EA44F',
   'date': 'Wed, 20 Jan 2021 21:51:24 GMT',
   'etag': '"9626787b13efe16a3703f4cc70e762fb"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9626787b13efe16a3703f4cc70e762fb"'}

In [20]:
from io import StringIO  # python3 (or BytesIO for python2)
import boto3

bucket = 'jpx-future-bucket'  # already created on S3
csv_buffer = StringIO()
df.to_csv(csv_buffer)

s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, '/raw_data/test.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'A85ABEC3061100C7',
  'HostId': 'fSnpTCxH4KiWt2JO74cjZdqGtDFY0K+N0SqMqEwqdC8f72ejAlS7o+euKOn1i/Ydkw5yPQn6fLs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'fSnpTCxH4KiWt2JO74cjZdqGtDFY0K+N0SqMqEwqdC8f72ejAlS7o+euKOn1i/Ydkw5yPQn6fLs=',
   'x-amz-request-id': 'A85ABEC3061100C7',
   'date': 'Wed, 20 Jan 2021 21:43:54 GMT',
   'etag': '"9626787b13efe16a3703f4cc70e762fb"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 1},
 'ETag': '"9626787b13efe16a3703f4cc70e762fb"'}

In [14]:
df_hist = pd.read_excel("/Users/mmiyazaki/Documents/LANCERS/JPX先物取引/JPX_Future_final_dep/完成データ/時系列データ.xlsx", header=[0, 1, 2])
df_hist.to_csv("完成データ/時系列データ.csv")

In [15]:
pd.read_csv("完成データ/時系列データ.csv")

,Unnamed: 0,アメリカ系合計,アメリカ系合計.1,アメリカ系合計.2,アメリカ系合計.3,アメリカ系合計.4,アメリカ系合計.5,アメリカ系合計.6,アメリカ系合計.7,アメリカ系合計.8,...,ヨーロッパ系合計.8,国内大手合計,国内大手合計.1,国内大手合計.2,国内大手合計.3,国内大手合計.4,国内大手合計.5,国内大手合計.6,国内大手合計.7,国内大手合計.8
0,銘柄,Topix,Topix,Topix,日経225合計,日経225合計,日経225合計,総合計,総合計,総合計,...,総合計,Topix,Topix,Topix,日経225合計,日経225合計,日経225合計,総合計,総合計,総合計
1,売買,売り,買い,差引,売り,買い,差引,売り,買い,差引,...,差引,売り,買い,差引,売り,買い,差引,売り,買い,差引
2,2020-08-07,5077,7530,-2532,4761.4,5229.7,-468.2999999999998,6947.4,8440.7,-1493.3,...,3212.099999999997,6282,6223,59,2314.8,2594.5,-279.7000000000003,4839.3,5238.5,-399.1999999999998
3,2020-08-11,11841,13035,-1194,7776.5,11434.5,-2796.0,13394.5,17952.0,-3406.0,...,899.2999999999956,11378,4875,2876,5741.5,6810.3,-2167.9,10653.5,8285.0,-1002.2
4,2020-08-12,9305,16916,-7611,8667.8,9255.300000000001,-587.5000000000007,11837.3,14514.3,-2677.0,...,-4802.200000000007,13838,7870,4827,7894.6,2223.7,2845.8,11247.6,3530.2,4712.8
5,2020-08-13,10687,12246,-665,12014.8,15135.7,-469.3000000000002,16058.3,21258.7,-1475.3,...,-1487.0,10776,6864,3912,16934.3,7174.4,5863.6,22322.3,10248.4,7794.600000000001
6,2020-08-14,10636,12278,-1642,8251.0,8968.4,450.8999999999999,12318.0,15107.4,-372.5999999999999,...,-3237.500000000001,4800,4167,633,8308.3,4996.9,5954.9,9755.3,6671.4,6727.9
7,2020-08-20,13068,27482,-13700,12470.2,12975.2,1558.399999999999,15697.2,22295.2,-584.6000000000017,...,637.5999999999858,10396,6244,2718,5907.799999999999,3024.8,1155.599999999999,8276.4,4408.8,2539.599999999999
8,2020-08-21,4410,4869,-459,5532.799999999999,4755.0,777.7999999999998,7433.3,6651.0,782.2999999999997,...,26.5,3242,1969,1273,2832.8,4438.9,-1580.0,3743.3,4917.4,-1513.5